= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", \
  "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js", \
  "trip-route-data.js", \
  # "https://maps.googleapis.com/maps/api/js?key=&sensor=false", \
  # "/vender/gmaps.js", \
  "all"
